*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    text-align: center;
}

.body{
    background-color:#DAD8D8;
}

.title{
    background-color: #1F8715;
    color: white;
    text-align: center;
    margin: 20px 100px 20px 100px;
    padding: 40px;
}

.en_izq{
    background-color: #2D5EDD;
    height: 400px;
    width: 200px;
    margin: 5px 20px 20px 100px;
}

.boton1{
    border-radius: 15px;
}

.boton2{
    border-radius: 15px;
}