* {
    /* Selector comodin (señecciona todos los elementos html*/
    /* outline: 1px dashed crimson; */
    /* Linea externa de 2px */
    margin: 0;
    /* Formatea espacios externos de elementos html */
    padding: 0;
    /* Formatea espacios internos de elementos html */
    box-sizing: border-box;
    /* Considera bordes dentro de tamaño de elementos html */
}

body {
    padding: 40px;
}



h1 {
    color: rebeccapurple;
}

.green {
    color: mediumseagreen;
}

#red {
    color: tomato;
}

.quote p {
    color: darkslategray;
    font-style: italic;
}

.quote h4 {
    color: rgb(120, 213, 213);
    font-weight: bold;
    /* Negrita */
}

.header>img {
    height: 50px;
}

#container p {
    /* Selección de parrafo dentro de Contenedor (#) */
    font-size: 16px;
    /* Tamaño de letra */
    background-color: #444;
    /* color fondo */
    color: white;
    /* Color letra */
}


#container p.highlight {
    font-weight: bold;
    color: gold;
}
form{
    padding: 20px;
}


input[type="text"] { /* Selección de elementos a traves de su propiedad [type="text"] */
    border: 2px solid royalblue;
    padding: 3px;
}

input[type="submit"] {
    color: white;
    background-color: mediumvioletred;
    border: none; /* Quita los bordes por defecto */
    padding: 5px 10px;
    cursor: pointer; /* Manito para realizar click */
}
.color_nombre{
    color: green;
    background-color: dimgray;
}
.color_rgb{
    color: rgb(12, 12, 73);
    background-color: dimgray;
}
.color_hex{
    color: #410a3c;
    background-color: dimgray;
}